.pencilmap-toolbar {
  /*padding: 5px 0;*/
  box-shadow: rgb(170, 170, 170) 0 0 2px;
}

.pencilmap-toolbar-item {
  position: relative;
  padding: 6px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
}

.pencilmap-toolbar-item-disabled {
  color: grey;
}
.pencilmap-toolbar-item-disabled:hover {
  color: grey !important;
}

.pencilmap-toolbar-item:hover {
  color: rgb(44, 184, 146);
}

.pencilmap-theme-item {
  cursor: pointer;
  padding: 10px;
}

.pencilmap-toolbar .iconfont {
  font-size: 28px !important;
}

.pencilmap-theme-img {
  width: 500px;
  height: 125px;
  border: #333333 1px solid;
}

.pencilmap-theme-img:hover {
  border: rgb(44, 184, 146) 2px solid;
}

.pencilmap-toolbar-popover-target {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

.pencilmap-popover-theme {
  width: auto;
  height: 600px;
  overflow: auto;
}
