.pencilmap-toolbar {
  /*padding: 5px 0; */
  box-shadow: rgb(61, 12, 255) 0 0 2px;
}

.pencilmap-toolbar-item {
  position: relative;
  padding: 6px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
}

.pencilmap-toolbar-item-disabled {
  color: #cacaca00;
}

.pencilmap-toolbar-item-disabled:hover {
  color: #cacaca00;
}

.pencilmap-toolbar-item:hover {
  color: #cacaca00;
  border: #2cb89200 5px solid;
  background-color: #0000ff00;
}

.pencilmap-theme-item {
  cursor: pointer;
  padding: 10px;
}

.pencilmap-toolbar .iconfont {
  font-size: 28px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.pencilmap-theme-img {
  width: 500px;
  height: 125px;
  border: #333333 1px solid;
}

.pencilmap-theme-img:hover {
  border: rgb(44, 184, 146) 2px solid;
}

.pencilmap-toolbar-popover-target {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

.pencilmap-popover-theme {
  width: auto;
  height: 600px;
  overflow: auto;
}