body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Comic Code Ligatures, ComicCodeLigatures, "Comic Code Ligatures", "ComicCodeLigatures", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Comic Code Ligatures, ComicCodeLigatures, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
